# Ignore environment variables file
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

 HEAD
#ddddddddddddddddd
*.log
*.dat
*.ini
*.tmp

*.bak
node_modules/
/build/



 76daf6ba84bdd2b6d6db2526714d23393a5497df
# Ignore virtual environment
venv/
env/

# Ignore IDE project files
.idea/
.vscode/
